body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-verydark-navy);
  color: var(--color-medium-silver);
  display: grid;
  justify-content: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  width: fit-content;
}

header {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: calc(3 * clamp(5rem, 13.6vw + 45px, 9rem) + 40px);
}
header .player-icons {
  justify-self: flex-start;
  align-self: center;
}
header img {
  display: inline-block;
}
header .turn {
  justify-self: center;
  align-self: center;
  background-color: var(--color-dark-navy);
  border-radius: 0.25rem;
  box-shadow: inset 0px -3px 0px black;
  padding: 0.5rem;
  width: clamp(5rem, 13.6vw + 45px, 9rem);
}
header svg {
  display: inline;
  height: 16px;
}
header span {
  color: var(--color-medium-silver);
  margin-left: 1rem;
}
header button {
  justify-self: flex-end;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  background-color: var(--color-light-silver);
  box-shadow: inset 0px -3px 0px var(--color-medium-silver);
  border-radius: 0.25rem;
}
header button img {
  width: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
  width: calc(3 * clamp(5rem, 13.6vw + 45px, 9rem) + 40px);
}

.tile-button {
  width: clamp(5rem, 13.6vw + 45px, 9rem);
  height: clamp(5rem, 13.6vw + 45px, 9rem);
  display: grid;
  place-content: center;
  border-radius: 0.5rem;
  background-color: var(--color-dark-navy);
  box-shadow: 0 5px 0 black;
}

.tile-button:not(.taken).turn-1:hover {
  background-image: url("/images/icon-x-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tile-button:not(.taken).turn-2:hover {
  background-image: url("/images/icon-o-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.status-bar {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  width: calc(3 * clamp(5rem, 13.6vw + 45px, 9rem) + 40px);
}
.status-bar .x-status, .status-bar .o-status, .status-bar .tie-status {
  width: clamp(5rem, 13.6vw + 45px, 9rem);
  display: grid;
  color: var(--color-verydark-navy);
  border-radius: 0.25rem;
  place-items: center;
}
.status-bar .x-status {
  background-color: var(--color-bluish-green);
}
.status-bar .tie-status {
  background-color: var(--color-medium-silver);
}
.status-bar .o-status {
  background-color: var(--color-light-orange);
}

.start-form {
  margin: 3rem 1rem 1rem 1rem;
  max-width: 30rem;
}
.start-form div {
  background-color: var(--color-dark-navy);
  border-radius: 1rem;
  padding: 1rem;
}
.start-form .radio-group {
  background-color: var(--color-verydark-navy);
  padding: 0.5rem;
  display: flex;
}
.start-form .radio-group label {
  flex: 1;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.75rem;
}
.start-form .radio-group label:has(input:checked) {
  background-color: var(--color-medium-silver);
}
.start-form .radio-group input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.start-form .radio-group input[type=radio]:checked + svg {
  fill: var(--color-verydark-navy);
}
.start-form .radio-group svg {
  margin-inline: auto;
  fill: var(--color-medium-silver);
  transform: scale(0.5);
}
.start-form button.start-vs-cpu {
  background-color: var(--color-dark-orange);
  color: var(--color-dark-navy);
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.start-form button.start-vs-human {
  background-color: var(--color-bluish-green);
  color: var(--color-dark-navy);
  width: calc(100% - 4rem);
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-fg {
  position: absolute;
  top: 25rem;
  left: 0;
  width: 100%;
  background-color: var(--color-dark-navy);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-fg > * + * {
  margin-top: 1rem;
}
.modal-fg h1 {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.modal-fg h1 img {
  width: 1.5rem;
  display: inline-block;
}
.modal-fg h1.winner-x {
  color: var(--color-bluish-green);
}
.modal-fg h1.winner-o {
  color: var(--color-light-orange);
}

.silver-button {
  background-color: var(--color-medium-silver);
  color: var(--color-verydark-navy);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.orange-button {
  background-color: var(--color-dark-orange);
  color: var(--color-verydark-navy);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

button:hover, button:focus {
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */